*{
    padding: 0px;
    margin: 0px;
}body{
    background-color: cornflowerblue;
}
button a{
    text-decoration: none;
}
    nav{
        height: 100px;
    }
    .card img{
        height: 200px;
    }
    .col h6{
        padding-left: 10px;
        padding-top: 10px;
    }
    
    
  
    
   

    
